@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-outfit), sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: var(--font-outfit), sans-serif;
}
